node_modules
.wwebjs_auth
public/*
!public/.gitkeep
.env

dialogflow.json

package-lock.json
yarn.lock
yarn-error.lock
yarn-error.log
newrelic_agent.log
docker-compose-dev.yml

/src/config/sentry.js

.wwebjs_auth
.wwebjs_cache

.vscode
/tmp
/data
data/*

load_tests
output.pdf
